
{% extends "../base.html" %}
{% load widget_tweaks %}
{% block content %}



<h1 align="center">Login</h1>
  <div class = "row z-depth-2">
      <form method="post">
        {% block error %}
        {% if form.error %}<p style="color:red;text-align:center">{{form.error}}</p>{% endif %}
        {% endblock %}
          {% csrf_token %}
          <div class = "row">
            <div class="input-field col s12">
              {% render_field form.username class="validate" %}
              <label for="password">Username</label>
            </div>
            <div class="input-field col s12">
              {% render_field form.password class="validate" %}
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
          </button>
      </form>
    </div>

{% endblock %}
